<template name="flower">

    {{> pageHeading title='My Flora' }}

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <!-- <div class="text-center m-t-lg">  -->

                <div class="m-t-lg">
                    <img src="http://static3.shop.indiatimes.com/images/products/medium/B4378286/flowers-gifts/promise-day/two-dozen-red-rose-bouquet-v95.jpg">
                    <div>
                    Bouquet of Roses
                    </div>
                    <div>
                    $10
                    </div>
                    <div>
                    Best Flower Company</div>

                </div>
            </div>
        </div>
    </div>
</template>