<template name="addFlower">

    {{> pageHeading title='My Flora' }}

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <!-- <div class="text-center m-t-lg">  -->

                <div class="m-t-lg">
                    <img src="http://static3.shop.indiatimes.com/images/products/medium/B4378286/flowers-gifts/promise-day/two-dozen-red-rose-bouquet-v95.jpg">
                    <!--
                    {{> quickForm collection="Flowers" type="insert" id='test_id'  name='Roses' price='$10' desc='A beautiful bouquet of roses.' purchaseLocation='http://roses.com' company='Rose Company' buttonContent="Submit"}} 
                    -->
                    {{> quickForm collection="Flowers" type="insert" id='test_id'  fields="name,price" buttonContent="Submit"}} 
                    <!--
                    {{#autoForm collection="Flowers" id="new-post" type="insert" buttonContent="Create"}}
                    {{> afQuickField name="name"}}
  {{> afQuickField name="price"}}
  {{> afQuickField name="desc"}}
  {{#if getImageData}}
    <img src={{getImageData}} alt="post image" />
  {{/if}}
  <div class="button-bar">
    <button type="submit" class="button icon ion-android-send button-positive">Submit</button>
  </div>
{{/autoForm}}
                    -->
                </div>
            </div>
        </div>
    </div>
</template>
