<template name="home">

    {{> pageHeading title='My Flora' }}

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <!-- <div class="text-center m-t-lg">  -->

                <div class="m-t-lg">
                    <!--
                    <h4>
                        Welcome My Flora!
                    </h4>
                    <small>
                        Take a look at your local flowers.
                    </small>
                    -->

                    <div>
                        <span class="font-bold">
                            Pick a color:
                        </span>
                        <div class="btn-group">
                            <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle" aria-expanded="false">Color <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li>Yellow</li>
                                <li>Red</li>
                                <li>Purple</li>
                                <li>White</li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        Choose an occasion:
                        <div class="btn-group">
                            <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle" aria-expanded="false">Occasion <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li>Mother's Day</li>
                                <li>Valentine's Day</li>
                                <li>For Him</li>
                                <li>For Her</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-md-3">
                <div class="ibox">
                    <div class="ibox-content product-box">

                        <div class="product-imitation">
                            <img src="http://static3.shop.indiatimes.com/images/products/medium/B4378286/flowers-gifts/promise-day/two-dozen-red-rose-bouquet-v95.jpg">
                        </div>
                        <div class="product-desc">
                            <span class="product-price">
                                $10
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="ibox">
                    <div class="ibox-content product-box">
                        <div class="product-imitation">
                            <img src="http://static5.shop.indiatimes.com/images/products/medium/B4141229/flowers-gifts/delhi-ncr/kabloom-two-dozen-peach-rose-bouquet.jpg">
                        </div>
                        <div class="product-desc">
                            <span class="product-price">
                                $10
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="ibox">
                    <div class="ibox-content product-box">
                        <div class="product-imitation">
                            <img src="http://static6.shop.indiatimes.com/images/products/medium/B1970056/flowers-gifts/house-warming/kabloom-gerbera-daisy-flower-bouquet-12.jpg">
                        </div>
                        <div class="product-desc">
                            <span class="product-price">
                                $10
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="ibox">
                    <div class="ibox-content product-box">
                        <div class="product-imitation">
                            <img src="http://static1.shop.indiatimes.com/images/products/medium/B4141227/flowers-gifts/delhi-ncr/kabloom-two-dozen-white-rose-bouquet.jpg">
                        </div>
                        <div class="product-desc">
                            <span class="product-price">
                                $10
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>